{% extends 'std_base.html' %} 

{% load crispy_forms_tags %}

{% block content %}

{% if featured %}
<p class="mt-3" style="margin: 5px">Trending Today</p>
<div class="row">
  {% for post in featured %}
  <div class="col">
    {% include 'components/trend_card.html' %}
  </div>
  {% endfor %}
</div>

{% endif %}


<div class="row">
  <div class="col-lg-8 col-md-10">
    <div class="card mt-3 border-0 p-4">
      <h5>Start Posting</h5>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <p>
          <small>Anonymous posts will not publically contain your info. Do not post obscene content though because we'll know who you are.</small>
        </p>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
<p class="mt-2" style="margin: 5px">Popular Posts</p>

    <div class="card border-0">
      <div class="card-body">
        <button class="btn btn-danger iround">
          <i class="fas fa-fire-alt me-2"></i>
          Hot
        </button>
        <button class="btn btn-danger iround">
          <i class="far fa-sun me-2"></i>
          New
        </button>
        <button class="btn btn-danger iround">
          <i class="fas fa-chart-line me-2"></i>
          Top
        </button>
      </div>
    </div>
    {% for post in posts %} {% include 'components/post.html' %} {% endfor %}
  </div>
  <div class="col-lg-4 col-md-10 mt-3">
    <div class="card border-0">
      <div class="card-header text-primary border-0" style="
          background: linear-gradient(to right, #21cc99, #20b4d1);
          font-size: 20px;
          font-weight: 300;
        ">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-smile-wink text-white mt-2" style="font-size: 50px"></i>
          </div>
          <div class="col-9">Trending communities right now</div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <i class="fas fa-exclamation-triangle mt-2" style="font-size: 30px"></i>
          </div>
          <div class="col">
            <a href="#" class="ilink nomargin">Issues</a>
            <p class="" style="font-size: 10px">872 Members</p>
          </div>
          <div class="col">
            <button class="btn btn-info iround btn-sm" style="width: 100%">
              Join
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <i class="fas fa-exclamation-triangle mt-2" style="font-size: 30px"></i>
          </div>
          <div class="col">
            <a href="#" class="ilink nomargin">Issues</a>
            <p class="" style="font-size: 10px">872 Members</p>
          </div>
          <div class="col">
            <button class="btn btn-info iround btn-sm" style="width: 100%">
              Join
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <i class="fas fa-exclamation-triangle mt-2" style="font-size: 30px"></i>
          </div>
          <div class="col">
            <a href="#" class="ilink nomargin">Issues</a>
            <p class="" style="font-size: 10px">872 Members</p>
          </div>
          <div class="col">
            <button class="btn btn-info iround btn-sm" style="width: 100%">
              Join
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <i class="fas fa-exclamation-triangle mt-2" style="font-size: 30px"></i>
          </div>
          <div class="col">
            <a href="#" class="ilink nomargin">Issues</a>
            <p class="" style="font-size: 10px">872 Members</p>
          </div>
          <div class="col">
            <button class="btn btn-info iround btn-sm" style="width: 100%">
              Join
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-0 mt-3">
      <div class="card-header text-primary border-0" style="
          background: linear-gradient(to right, #21cc99, #20b4d1);
          font-size: 20px;
          font-weight: 300;
        ">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-smile-wink text-white mt-2" style="font-size: 20px"></i>
          </div>
          <div class="col-9">Top Teachers</div>
        </div>
      </div>
      <div class="card-body">
        {% comment %} have to add for loop for best teacher {% endcomment %}
        {% for inst in instructor  %}
        <div class="row mt-2">
          <div class="col-auto">
            <!-- fix the image -->
            <img src="{{inst.image.url}}" style=" border-radius: 50%;height:60px;width:60px; object-fit: cover;">
          </div>
          <div class="col"> 
            <a href="{% url 'single' inst.id %}" class="ilink nomargin" style="font-size: 15px;">{{inst.name}}</a>
            <!-- <p style="font-size:13px">({{inst.nickname}})</p> -->
            {% include 'components/rating.html' with font_size=12 rating=inst.instructor_rating color='dark' %}
          </div>
          
        </div>
        {% endfor %}
        <a class="btn btn-info mt-3" href="{% url 'all' %}">View All</a>
      </div>
    </div>
    {% include 'components/footer.html' %}
  </div>
</div>
{% endblock %}