<div class="card ps-2 mt-4 pb-3 border-0">
    <div class="row">
        <div class="col-1 ml-1">
            <p class="text-right  mt-2" style="font-size:18px;">
                <form action="{% url 'vote' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{post.id}}" name="upvote_id">
                    <button class="upvote p-1 m-1 btn btn-default" type="submit">
                        <i class="fas fa-arrow-up" style="font-size:22px;"></i>
                    </button>
                </form>
                <span class="ps-2 ms-1" style="font-weight: 600; font-size: 18px;">{{post.get_vote_difference}}</span>
                <br>
                <form action="{% url 'vote' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{post.id}}" name="downvote_id">
                    <button class="upvote p-1 m-1 btn btn-default" type="submit">
                        <i class="fas fa-arrow-down" style="font-size:22px;"></i>
                    </button>
                </form>
            </p>
        </div>
        <div class="col-11">
            <p class="mt-2 mb-1" style="font-size: 14px;">
                <!-- <i class="fas fa-smile-wink text-info"></i>
                <a href="#" class="text-danger" style="text-decoration: none;">
                    <b>{{post.user.username}}</b>
                </a> -  -->
                Posted by
                {% if post.anonymous %}
                Anonymous
                {% else %}
                <a href="#" class="text-danger">
                    {{post.user.username}}
                </a>
                {% endif %}
                - {{ post.timestamp|timesince }} ago
            </p>
            <h5>
                {{post.title}}
                <!-- <span class="badge bg-secondary text-dark" style="font-weight: 400; font-size: 14px;">Unacceptable</span> -->
                <img class="mt-2" src="{{post.image.url}}" style="width:100%;">
            </h5>
            <p class="nomargin" style="font-size:14px;">
                <a class="backchange p-1" style="text-decoration: none;">
                    <i class="fas fa-comment"></i>
                    {{comments.all.count}}
                </a>
                <a class="backchange p-1" style="text-decoration: none;">
                    <i class="fas fa-plus"></i>
                    Save
                </a>
            </p>
        </div>
    </div>
    <!--Comments Portion-->
    {% for comment in comments %}
        {% include 'components/comment.html' with content=comment.body %}
        {% for sub_comment in comment.sub_comments_set.all %}
            {% include 'components/comment.html'  %}
        {% endfor %}
    {% endfor %}
    
    
    
    <div class="d-grid mt-3 ms-3 me-3">
        <button class="btn btn-danger btn-sm iround" type="button">View entire discussion (13 comments)</button>
      </div>
</div>